.header {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 100rem;
    border-bottom: 2px solid $color-secondary-light;

    @media (max-width: 600px) {
        border: none;
        padding: 1rem 1.8rem 1rem 5rem;
    }

    &__cart {
        cursor: pointer;
        position: relative;
    }

    &__cart-bubble {
        position: absolute;
        top: .5rem;
        right: .5rem;
        background-color: $color-primary;
        padding: .3rem .4rem;
        font-size: .8rem;
        color: $color-white;
        border-radius: 50%;
        opacity: 0;
    }

    &__cart-container {
        width: 25rem;
        height: 16rem;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 0 10px 15px 0 rgba($color-black, .2);
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 99;
        display: none;
        &.open {
            display: block;
        }
        @media (max-width: 40rem) {
            width: 35rem;
            height: 23rem;
            top: 12%;
            right: 3%;
        }
    }

    &__cart-header {
        padding: 1.6rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: $color-secondary-dark-2;
    }

    &__cart-content {
        padding: 1.6rem;

        & > small {
            font-size: 1rem;
            font-weight: 700;
            color: $color-secondary-dark-1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__cart-prod {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__cart-img-box {
        width: 5rem;
    }

    &__cart-img {
        width: 100%;
        border-radius: .5em;
    }

    &__cart-text {
        font-size: 1.3rem;
        color: $color-secondary-dark-1;

        & > strong {
            color: $color-secondary-dark-2;
        }
    }

    &__profile-img {
        width: 5rem;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: all .4s;
        
        &:hover {
            border: 2px solid $color-primary;
            cursor: pointer;
        }

        @media (max-width: 600px) {
            width: 4rem;
        }
    }
}