.header {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 100rem;
    border-bottom: 2px solid $color-secondary-light;

    @media (max-width: 600px) {
        border: none;
        padding: 1rem 1.8rem 1rem 5rem;
    }

    &__cart {
        cursor: pointer;
    }

    &__cart-container {
        width: 25rem;
        height: 20rem;
        background-color: red;
        position: absolute;
        top: 20%;
        right: 10%;
        z-index: 99;
        // @media (max-width: 40rem) {
        //     margin-inline: auto;
        // }
    }

    &__profile-img {
        width: 5rem;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: all .4s;
        
        &:hover {
            border: 2px solid $color-primary;
            cursor: pointer;
        }

        @media (max-width: 600px) {
            width: 4rem;
        }
    }
}