.product {
    padding: 6rem 0;

    @media (max-width: 600px) {
        padding: 2rem;
    }

    &__brand {
        display: inline-block;
        padding-bottom: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-primary;
        font-weight: 700;
    }

    &__title {
        padding-bottom: 2rem;
        font-size: 3rem;
        color: $color-secondary-dark-2;
    }

    &__desc {
        padding-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.5rem;
        color: $color-secondary-dark-1;
    }

    &__price-new {
        display: inline-block;
        font-size: 2.8rem;
        color: $color-secondary-dark-2;
        font-weight: 700;
    }

    &__discount {
        display: inline-block;
        padding: .5rem 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: $color-primary;
        background-color: $color-primary-light;
        border-radius: .5rem;
    }

    &__price-old {
        display: inline-block;
        padding-top: .8rem;
        text-decoration: line-through;
        font-size: 1.6rem;
        color: $color-secondary;
    }
}