.heading-primary {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;

    &--dark-blue {
        color: $dark-blue;
    }

    @media (min-width: 400px) {
        font-size: 5.6rem;
        line-height: 5.6rem;
    }
}

.heading-secondary {
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 700;

    &--gold {
        color: $gold;
        @media (min-width: 400px) {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    &--silver {
        color: $silver;
    }

}

.heading-tertiary {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 800;
    cursor: pointer;

    &--white {
        color: $white;

        &:hover {
            color: $gold;
        }
    }
}

.heading-tertiary-2 {
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 800;
    cursor: pointer;

    &--dark-blue {
        color: $dark-blue;

        &:hover {
            color: $red;
        }
    }
}

.paragraph {
    font-size: $default-font-size;
    line-height: 2.6rem;

    &--gray-blue {
        color: $gray-blue;
    }

    &--silver {
        color: $silver;
    }
}