$color-blue: hsl(246, 80%, 60%);

$color-light-blue: hsl(195, 74%, 62%);
$color-light-red-1: hsl(15, 100%, 70%);
$color-light-red-2: hsl(348, 100%, 68%);
$color-green: hsl(145, 58%, 55%);
$color-violet: hsl(264, 64%, 52%);
$color-orange: hsl(43, 84%, 65%);

$color-very-dark-blue: hsl(226, 43%, 10%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-desaturated-blue: hsl(235, 45%, 61%);
$color-pale-blue: hsl(236, 100%, 87%);

