.btn {
    padding: .5rem;
    background-color: $color-primary;
    border: none;
    
    
    &::after {
        content: url('../../images/icon-remove.svg');
    }

    &:hover {
        background-color: $color-grey-dark;
    }
}