.listing {
    padding: 3rem 4rem;
    background-color: $color-grey-light-2;
    border-radius: .5rem;
    box-shadow: 1px 5px 10px rgba($color-primary, .3);
    border-left: 5px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 600px) {
        padding: 5rem 2rem 3rem;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    &__block {
        display: flex;
        gap: 1rem;
        @media(max-width: 600px) {
            width: 100%;
            flex-wrap: wrap;
            &:not(:last-child) {
                border-bottom: 1px solid $color-grey-dark;
            }
            &:last-child {
                padding-top: 2rem;
            }
        }
    }

    &__logo-box {
        padding-right: 2rem;
        @media(max-width: 600px) {
            position: absolute;
            top: -2rem;
        }
    }

    &__logo {
        @media(max-width: 600px) {
            width: 5rem;
        }
    }

    &__text > * {
        &:not(:last-child) {
            padding-bottom: 1.5rem;
        }
        @media(max-width: 600px) {
            padding-bottom: 2rem;
        }
    }

    &__company {
        font-size: $default-font-size;
        color: $color-primary;
        font-weight: 700;
        padding-right: 1.2rem;
    }

    &__tag {
        padding: .5rem 1rem;
        border-radius: 2rem;
        color: #fff;
        text-transform: uppercase;
        font-size: $default-font-size;
        font-weight: 500;

        &:not(:last-child) {
            margin-right: .5rem;
        }

        &--new {
            background-color: $color-primary;
        }

        &--featured {
            background-color: $color-grey-dark;
        }
    }

    &__position {
        font-size: 1.8rem;
        font-weight: 700;
        color: $color-grey-dark;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }

    &__item {
        font-size: $default-font-size;
        color: $color-grey;
        position: relative;

        &:not(:last-child) {
            padding-right: 1.5rem;

            &::after {
                content: '';
                display: inline-block;
                height: 4px;
                width: 4px;
                border-radius: 2px;
                background-color: $color-grey;
                position: absolute;
                top: 50%;
                right: 0.5rem;
                transform: translateY(-50%);
            }
        }

    }

}