.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;

    &--span-two {
        grid-row: span 2;
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}