.tip-input {
    padding: 1.5rem;

    &__label {
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        color: $color-primary-dark;
    }

    &__input {
        padding: .5rem 1rem;
        width: 100%;
        font-family: inherit;
        font-weight: 700;
        font-size: $default-input-font;
        display: block;
        border: 2px solid transparent;
        border-radius: .5rem;
        background-color: $color-grey-light-1;
        color: $color-primary-dark;
        text-align: right;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: top 50% left 1rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &--bill {
            background-image: url('../images/icon-dollar.svg');
        }

        &--people {
            background-image: url('../images/icon-person.svg');
        }

        &::placeholder {
            color: $color-grey-dark;
        }

        &:active,
        &:focus {
            outline: none;
            border-color: $color-primary;
            background-color: $color-grey-light-1;
        }
    }
}

.btn {
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: .5rem;
    width: 100%;
    transition: all .3s;
    cursor: pointer;


    
    &--dark-cyan{
        background-color: $color-primary-dark;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $color-grey-light-2;
            color: $color-primary-dark;
        }
    }

    &--input {
        background-color: $color-grey-light-1;
        color: $color-primary-dark;
        text-align: right;

        &::placeholder {
            text-align: center;
        }

        &:active,
        &:focus {
            outline: none;
            border-color: $color-primary;
        }
    }

    &--output {
        font-size: 2rem;
        background-color: rgba($color-primary, .3);
        color: $color-primary-dark;
        text-transform: uppercase;

        @media (min-width: 700px) {
            margin-top: 5rem;
        }

        &:hover {
            background-color: $color-grey-light-2;
            color: $color-primary-dark;
        }
    }
}

.active {
    background-color: $color-primary;
    color: $color-primary-dark;
}