$color-primary: hsl(26, 100%, 55%);
$color-primary-light: hsl(25, 100%, 94%);

$color-secondary: hsl(220, 14%, 75%);
$color-secondary-light: hsl(223, 64%, 98%);
$color-secondary-dark-1: hsl(217, 9%, 45%);
$color-secondary-dark-2: hsl(218, 12%, 13%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

