* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Kumbh Sans", sans-serif;
}

li {
    list-style: none;
}

.u-margin-top { margin-top: 2.5rem; }
