.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .col {
        display: flex;
        align-items: center;
        gap: 3rem;

        @media (max-width: 600px) {
            gap: .5rem;
        }
    }

}

.row-1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.row-2 {
    @media (max-width: 600px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.row-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1.5rem;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.row-flex {
    display: flex;
    justify-content: center;
    gap: 10rem;

    @media (max-width: 600px) {
        width: 100%;
        display: block;
    }
}

.col-1-of-2 {
    width: 33rem;

    @media (max-width: 600px) {
        width: 100%;
    }
}


